<div class="form-container d-flex align-items-center justify-content-center">
  <div class="covoiturage-form">
    <h2 class="form-title-centered">Proposer un covoiturage</h2>
    <div class="form-group">
      <label>Ville de départ:</label>
      <input type="text" class="form-control custom-form-control" [(ngModel)]="covoiturage.villeDepart">
    </div>
    <div class="form-group">
      <label>Ville d'arrivée:</label>
      <input type="text" class="form-control custom-form-control" [(ngModel)]="covoiturage.villeArrivee">
    </div>
    <div class="form-group">
      <label>Date (AAMMJJ):</label>
      <input type="text" class="form-control custom-form-control" [(ngModel)]="covoiturage.date">
    </div>
    <div class="form-group">
      <label>Nombre de places:</label>
      <input type="number" class="form-control custom-form-control" [(ngModel)]="covoiturage.nbPlaces">
    </div>
    <div style="text-align: center;">
      <button (click)="onSubmit()" class="btn custom-submit-btn">Proposer</button>
    </div>


  </div>
</div>
