.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #faf3f3;
}

.covoiturage-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.custom-form-control {
  border-radius: 0;
  border: 2px solid #3498db;
  margin-bottom: 20px;
}

.custom-submit-btn {
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.5s;
}

.custom-submit-btn:hover {
  background-color: #27ae60;
  cursor: pointer;
}
.button-container {
  display: flex;
  justify-content: center;
}

.form-title-centered {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: #333;
}

