.container-mes-covoiturages {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

card-title {
  color: #2c3e50;
  font-weight: bold;
}

.card-text {
  color: #7f8c8d;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.icon-supprimer {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  top: 50%;
  transform: translateY(-50%);
  color: #e74c3c;
  cursor: pointer;
}

.card-body {
  position: relative;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 40px;
}

.content-container {
  width: 60%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.main-container {
  background-color: #faf3f3;
  min-height: 100vh;
  padding: 20px;
}
