<div class="main-container">
  <div class="content-container" *ngIf="covoiturages.length > 0; else noCovoiturage">
    <h2 style="text-align:center;">Mes covoiturages</h2>
    <div *ngFor="let covoit of covoiturages">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ covoit.villeDepart }} - {{ covoit.villeArrivee }}</h5>
          <p class="card-text">Date: {{ covoit.date }}</p>
          <p class="card-text">Places disponibles: {{ covoit.nbPlaces }}</p>
          <fa-icon [icon]="faTimes" (click)="supprimerCovoiturage(covoit._id)" class="icon-supprimer"></fa-icon>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noCovoiturage>
    <p style="text-align:center;">Vous n'avez pas encore proposé de covoiturage.</p>
  </ng-template>
</div>
