<div class="search-container d-flex align-items-center justify-content-center">
  <div class="search-form-container">
    <h2 class="form-title-centered">Rechercher un covoiturage</h2>
    <form (submit)="onSearchCovoiturage()">
      <div class="form-group">
        <label for="villeDepart">Ville de départ:</label>
        <input type="text" class="form-control custom-form-control" id="villeDepart" [(ngModel)]="searchCriteria.villeDepart" name="villeDepart" required>
      </div>

      <div class="form-group">
        <label for="villeArrivee">Ville d'arrivée:</label>
        <input type="text" class="form-control custom-form-control" id="villeArrivee" [(ngModel)]="searchCriteria.villeArrivee" name="villeArrivee" required>
      </div>

      <div class="form-group">
        <label for="date">Date:</label>
        <input type="text" class="form-control custom-form-control" id="date" [(ngModel)]="searchCriteria.date" name="date" required>
      </div>

      <div class="submit-btn-container">
        <button type="submit" class="btn custom-search-btn">Rechercher</button>
      </div>
    </form>

    <!-- Résultats -->
    <div *ngIf="covoiturages.length > 0" class="results-container">
      <div class="results-title">
        <h2>Résultat(s):</h2>
      </div>
      <ul class="list-group custom-list-group">
        <li class="list-group-item" *ngFor="let covoiturage of covoiturages">
          {{ covoiturage.villeDepart }} - {{ covoiturage.villeArrivee }} | {{ covoiturage.date }}
        </li>
      </ul>
    </div>
  </div>
</div>
