.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #faf3f3;
}

.search-form-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.custom-form-control {
  border-radius: 0;
  border: 2px solid #3498db;
  margin-bottom: 20px;
}

.custom-search-btn {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.5s;
  display: block;
  margin: 0 auto;
}

.custom-search-btn:hover {
  background-color: #2980b9;
  cursor: pointer;
}

.custom-list-group {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.list-group-item {
  border-left: none;
  border-right: none;
  border-top: none;
  display: flex;
  justify-content: center;
}

.results-container {
  margin-top: 20px;
  text-align: center;
}

.custom-list-group {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

.form-title-centered {
  text-align: center;
  margin-bottom: 20px;
}
