<div class="container mt-5">
  <h2 class="mb-4">Connexion</h2>
  <form (submit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="email" required>
    </div>
    <div class="form-group">
      <label for="password">Mot de passe:</label>
      <input type="password" [(ngModel)]="user.motDePasse" name="motDePasse" class="form-control" id="password" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Se connecter</button>
    </div>
  </form>
</div>
