body {
  margin: 0;
  padding: 0;
}

.container {
  padding-right: 0;
  padding-left: 0;
}

.custom-btn-primary {
  background-color: #db3450;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.5s;
}

.custom-btn-secondary {
  background-color: #95a5a6;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.5s;
}

.custom-btn-success {
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.5s;
}

.custom-btn-info {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.5s;
}

.custom-btn-warning {
  background-color: #f39c12;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.5s;
}

.custom-btn-primary:hover,
.custom-btn-secondary:hover,
.custom-btn-success:hover,
.custom-btn-info:hover,
.custom-btn-warning:hover {
  background-color: darken(#3498db, 10%);
  cursor: pointer;
}

.custom-jumbotron {
  background-color: none;
  border-radius: 10px;
}

.user-greeting {
  font-size: large;
  font-weight: bold;
  padding: 10px 0;
}

.bi {
  padding-right: 8px;
}

.fixed-bottom-image {
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 550px;
  z-index: 999;
}

.custom-jumbotron h1 {
  font-weight: bold;
  font-size: 2.5em;
}

.highlighted-text {
  color: #34badb;
  font-style: italic;
}

.navbar {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
}

.btn-warning {
  margin-left: 20px;
}

.spacer {
  flex: 1;
}

.content-spacing {
  padding-top: 20px;
}

.navbar {
  width: 100%;
}

.navbar-brand {
  margin-left: 20px;
}

.btn-warning {
  margin-right: 20px;
}
