<div style="width: 100%;">

  <!-- Navbar -->
  <nav class="navbar navbar-expand navbar-light bg-light">
    <!-- Affiche l'email de l'utilisateur connecté à gauche -->
    <div class="navbar-brand" *ngIf="isLoggedIn()">
      {{ userEmail }}
    </div>

    <!-- Élément espace pour pousser les éléments suivants à droite -->
    <div class="spacer"></div>

    <!-- Bouton de déconnexion à droite -->
    <div *ngIf="isLoggedIn()">
      <button (click)="onLogout()" class="btn btn-warning">Se déconnecter</button>
    </div>
  </nav>

  <!-- Espace entre la navbar et le contenu suivant -->
  <div class="content-spacing"></div>

  <!-- Contenu principal de la page -->
  <div class="jumbotron custom-jumbotron">
    <h1 class="display-4 text-center">
      Bienvenue sur <span class="highlighted-text">Covoiturage.com</span> !
    </h1>

    <!-- Boutons centrés pour les utilisateurs non connectés -->
    <div class="text-center" *ngIf="!isLoggedIn()" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <a routerLink="/inscription" class="btn custom-btn-primary m-2"><i class="bi bi-person-plus"></i> S'inscrire</a>
      <a routerLink="/connexion" class="btn custom-btn-secondary m-2"><i class="bi bi-box-arrow-in-right"></i> Se connecter</a>
    </div>

    <!-- Boutons centrés pour les utilisateurs connectés -->
    <div *ngIf="isLoggedIn()" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <div class="text-center">
        <a routerLink="/proposer-covoiturage" class="btn custom-btn-success m-2"><i class="bi bi-car"></i> Proposer un covoiturage</a>
        <a routerLink="/rechercher-covoiturage" class="btn custom-btn-info m-2"><i class="bi bi-search"></i> Rechercher un covoiturage</a>
        <a routerLink="/mes-covoiturages" class="btn custom-btn-primary m-2"><i class="bi bi-list-ul"></i> Mes covoiturages</a>
      </div>
    </div>

    <!-- Image en bas de la page -->
    <img src="assets/car.png" class="fixed-bottom-image"/>

    <router-outlet></router-outlet>
  </div>
</div>
